<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Realbox</title>
      <link href="../css/index.css" rel="stylesheet" type="text/css">
      <link href="../css/fonts.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="mainContainer">
         <div class="loginScreen">
            <div class="loginPortal">
               <div class="leftPanel">
                  <div class="logo">
                     <img src="../images/logoWhite.png" class="image">
                  </div>
                  <div class="window">
                     <div class="header">
                        Realbox,
                        <br>
                        Welcomes you
                     </div>
                     <div class="text">
                        Increase your sales today with the most effective real-time solution. For businesses, we use Predictive Analysis to decrease risk, lower cost and improve customer service. We help your business reach its potential by increasing your sales upto 20% through the power of business intelligence, Consumer focussed Social Media, Online and Offline Marketing Campaigns.
                     </div>
                     <div class="btnExplore">
                        Explore More..!!!
                     </div>
                  </div>
               </div>
               <div class="rightPanel">
                  <div class="overLay">
                     <div class="window">
                        <div class="header">
                           Log in
                        </div>
                        <div class="logInInput">
                           <input class="logIn" id ="userId" placeholder="enter your id">
                        </div>
                        <div class="logInInput">
                           <input class="logIn" id ="password" placeholder="enter your password">
                        </div>
                        <div class="btnSubmit">
                           Log In
                        </div>
                        <div class="btnResetPassword">
                           Forgotten your password..?
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="homeScreen">
            <div class="navbar">
               <img src="../images/menuBar.png" class="menuBarImage">
            </div>
            <div class="navbarOptions">
               <div class="userInfoBlock">
                 <div class="empImage">

                 </div>
                  <div class="userName">Dhiraj</div>
                  <div class="userId">dhiraj.dj@gmail.com</div>
               </div>
               <div class="userWorkStatus">
                  <div class="workStatus projects">Projects</div>
                  <div class="workStatus tasks">Tasks</div>
                  <div class="workStatus attendance">Attendance</div>
                  <div class="workStatus employee">Employee</div>
                  <div class="workStatus log">Log</div>
               </div>
               <div class="accountSetting"> Accounts & Settings</div>
            </div>

            <div class="rightContainer">
               <div class="rightContainerHeaderPanel"></div>      
            </div>

            <div class="sideScreen">
            
               <div class="congratulationPage hide">
                  <div class="greetingText">WELL DONE</div>
                  <div class="congratsImgBlock">
                    <img src="../images/congrats.png" class="congratsImg">
                  </div>
                  <div class="completedText">You Have Completed</div>
                  <div class="taskStatus">Rollmaal - Design new home page app task</div>
                  <div class="statusText">Way to go!</div>
                  <div class="btnThanx">Thanks / Send Notification</div>
               </div>
               <div class="taskRemarkPage hide">
                  <div class="taskRemarkPageBlock">
                     <div class="header">
                        <div class="projectTitle">Rollmaal</div>
                        <div class="taskName">Design new home page for app</div>
                        <div class="timeLogBlock">
                           <span style="font-size:36px">45<span style="font-size:28px">h</span> </span>
                           <div class="logText">TIME LOG</div>
                        </div>
                     </div>
                     <div class="remarkBlock">
                        <div class="remarkHeading">Task Remarks</div>
                        <div class="remarkEnter">
                           <img src="../images/mahi.jpg" class="empImage">
                           <input class="writeComment" placeholder="write your comment here...">
                        </div>
                        <div class="empRemarks">
                           <div class="importantRemarks"></div>
                        </div>
                     </div>
                  </div>
                  <div class="btnFooter">
                     <div class="btnSubAddTask">Add Sub Task</div>
                     <div class="btnEndTask">End Task</div>
                  </div>
               </div>
               <div class="addProjectContainer hide">
                  <div class="editProjectPanel">
                     <input type="text" placeholder="add new project" class="projectName">
                     <input type="text" placeholder="enter project ID" class="projectId">
                     <div class="text">Projects added here will reflect in New Projects
                        category, do save them.
                     </div>
                  </div>
                  <div class="footerBlock">
                     <div class="btnCancel">Cancel</div>
                     <div class="btnSave">Save</div>
                  </div>
               </div>
               <div class="projectTaskDetails hide">
                  <div class="project">Rollmaal</div>
                  <div class="addedTask">Design new page for home app</div>
                  <div class="expectedTime">
                     <div class="time">21</div>
                     <div class="display">HOURS</div>
                  </div>
                  <div class="membersImageBox">
                     <img src="../images/rahulYadav.jpg" class="memberImg">
                     <img src="../images/mahi.jpg" class="memberImg">
                     <img src="../images/mujtba.jpg" class="memberImg">
                  </div>
                  <div class="btnStart">START THIS TASK</div>
               </div>

               <div class="projectSelectionBlock hide">
                  <div class="selectProject">Select project</div>
                  <div class="definedProject block" screen="projectDetails">

                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">RollMaal</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">PULSE DASHBOARD</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">YUM-YUM CHA APP</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">YUM-YUM CHA APP</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">ROLLMALL</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">PULSE DASHBOARD</div>
                     </div>
                     <div class="definedProjectBlock block" screen="projectDetails">
                        <div class="projectName">PULSE DASHBOARD</div>
                     </div>

                  </div>
               </div>
               
                <div class="projectDetailsPanel hide">
                 <div class="projectDescriptionBlock">
                    <div class="projectName">Rollmaal</div>
                    <div class="projectMemberBlock">
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                        <div class="member"></div>
                    </div>
                       <div class="allTask">
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                            <div class="assignedTask">Design new home page for app</div>
                        </div>
                </div>
                <div class="btnStartChat">Start Chat</div>
            </div>

               <div class="pickTaskPanel hide">
                  <div class="taskDescriptionBlock">
                    <div class="projectName">Rollmaal</div>
                    <div class="taskName">Design new home page for app</div>
                      <div class="timerBlock">
                        <div class="estimatedTime">Estimated Time:</div>
                        <input type="text" placeholder="00" class="timer">
                        <div class="estimatedTime">hours</div>
                    </div>
                    <div class="writeRemark">
                        <input type="text" placeholder="add remark...." class="addRemarkBox">
                    </div>
                </div>
                 <div class="footer">
                     <div class="btnCancel">Cancel</div>
                     <div class="btnSave">Save</div>
                    </div>
            </div>

               <div class="projectDetails hide">
                  <div class="taskDescriptionBlock">
                    <div class="projectName">Rollmaal</div>
                    <input type="text" placeholder="write new task.." class="addTask">
                    <div class="writeTask">
                       <input type="text" placeholder="add description...." class="addDescBox">
                    </div>
                    <div class="timerBlock">
                       <div class="estimatedTime">Estimated Time:</div>
                       <input type="text" placeholder="00" class="timer">
                       <div class="estimatedTime">hours</div>
                    </div>
                    <div class="assignedMember">
                       <div class="text">Assign Members</div>
                    </div>
                    <div class="projectMemberBlock">
                       <div class="assignMembersBlock"></div>
                    </div>
                     <div class="footerBlock">
                    <div class="btnCancel">Cancel</div>
                    <div class="btnSave">Save</div>
                  </div>
                </div>
                 
               </div>
               
            </div>

            <div class="chatPanel">
                <div class="chatDescription">
                    <div class="chatHeader">Chat History</div>
                     <div class="chatBlock">
                        <div class="member"></div>
                        <input type="text" placeholder="Write your messages...." class="chatBox">
                    </div>
                    <div class="chatSummary">
                        <div class="chatHistory">
                            <div class="chats">
                                <div class="member"></div>
                                <div class="chat">
                                    <div class="text"><span style="font-weight:500">Mahi</span> posted message on Monika Smith site posted message on Monika Smith site</div>
                                    <div class="textTime">2 days ago at 8:30am</div>
                                </div>
                            </div>
                             <div class="chats">
                                <div class="member"></div>
                                <div class="chat">
                                    <div class="text"><span style="font-weight:500">Mahi</span> posted message on Monika Smith site</div>
                                    <div class="textTime">2 days ago at 8:30am</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="btnCloseChat">Close Chat</div>

            </div>

         </div>
      </div>
      
       <script id="projectPageTemplate" type="text/x-jquery-tmpl">
          <div class="menuBar">
              <div class="header">
                 <div class="textBox">Projects</div>
                 <div class="search">
                    <img src="../images/search.png" class="searchImg">
                    <input type="text" class="inputSearch">
                 </div>
              </div>
              
              <div class="menuBarOption">
                    <div class="optionContainer">
                        <div class="option">All</div>
                        <div class="option">Current</div>
                        <div class="option">Completed</div>
                        <div class="option">Yet to start</div>
                    </div>
                 <div class="btnEmployee">Employee</div>
                 <div class="employeeMemberContainer">
                <div class="employeeDetails">
                </div>
              </div>
              </div>
           </div>
           <div class="container">
                <div class="projectContainer">
                   <div class="addNewProject block" screen="addProjectContainer">
                      <img src="../images/plusSignWhite.png" class="plusIcon">
                   </div>
                   <div class="assignProject block" screen="projectDetailsPanel">
                      Project One
                   </div>

                   <div class="addProjectPage"></div>
                </div>
           </div>
       </script> 

      <script id="employeeDetailsTemplate" type="text/x-jquery-tmpl">
          <div class="memberImageBlock">
             <div class="imageContainer" style="background-image:url({{html icon}})"></div>
             <div class="name">{{html name}}</div>
          </div>
      </script>

       <script id="tasksOptionsTemplate" type="text/x-jquery-tmpl">
          <div class="menuBar">
              <div class="header">
                 <div class="textBox">Tasks</div>
                 <div class="search">
                    <img src="../images/search.png" class="searchImg">
                    <input type="text" class="inputSearch">
                 </div>
              </div>
              <div class="menuBarOption">
                    <div class="optionContainer">
                       <div class="option allTasks selected">All</div>
                       <div class="option myTasks">My Tasks</div>
                       <div class="option taskInProgress">In Progress</div>
                       <div class="option taskCompleted">Completed</div>
                       <div class="option taskToStart">Yet To Start</div>
                    </div>
                 <div class="btnEmployee">Employee</div>
                 <div class="employeeMemberContainer">
                <div class="employeeDetails">
                </div>
              </div>

              </div>
           </div>
           <div class="container">
              <div class="taskContainer">
                     <div class="addNewTask block" screen="projectSelectionBlock">
                        <img src="../images/plusSign.png" class="plusSign">
                        <div class="addText">Add New Task</div>
                     </div>

                     <div class="myTasksPage">
                        <div class="myTask block" screen="projectTaskDetails">
                          <div class="overlay">
                              <div class="task">Design new home page for app.</div>
                          </div>
                          <div class="footerPanel">
                              <div class="timer">10:00</div>
                              <div class="expectedTimeBlock">
                                  <div class="time">21</div>
                                  <div class="display">HOURS</div>
                              </div>   
                              <div class="btnBlockPause">
                                  <div class="display">PAUSE</div>
                                  <div class="btnImage" style="background-image"></div>
                              </div>
                              <div class="btnBlockResume">
                                  <div class="display">RESUME</div>
                                <div class="btnImage"></div>
                              </div>
                              <div class="project">Rollmaal Website</div>
                         </div>
                      </div>
                     </div>

                     <div class="addedTaskBlock">
                        <div class="projectName">Rollmaal</div>
                        <div class="taskName">Create home page from new design</div>
                        <div class="btnPickBlock block" screen="pickTaskPanel">
                        <img src="../images/pick.png" class="pickImg">
                        </div>
                        <div class="employeeImgBlock">
                          <div class="employeeImg" style="background-image:url(../images/dhiraj.jpg)"></div>
                          <div class="employeeImg" style="background-image:url(../images/rahulYadav.jpg)"></div>
                        </div>
                      </div>
                  </div>
           </div>
       </script>

       <script id="attendanceOptionsTemplate" type="text/x-jquery-tmpl">
        <div class="menuBar">
              <div class="header">
                 <div class="textBox">Attendance</div>
                 <div class="search">
                    <img src="../images/search.png" class="searchImg">
                    <input type="text" class="inputSearch">
                 </div>
              </div>
              
              <div class="menuBarOption">
                    <div class="optionContainer">
                       <div class="currentDate">20 Jan, 2016</div>
                    </div>
                 <div class="btnCalendar">Calendar</div>
                 <div class="employeeMemberContainer">
                <div class="employeeDetails">
                </div>
              </div>
              </div>
           </div>
           <div class="container">
             <div class="empAttendanceContainer">
                  <div class="empAttendanceBlock"></div>
              </div>
           </div>
        </script>

        <script id="empAttendanceBlockTemplate" type="text/x-jquery-tmpl">
            <div class="attendancePage">
              <div class="header">
                <div class="image" style="background-image:url({{html icon}})">
                    </div>
                    <div class="text">{{html name}}</div>
                    <div class="currentDate">
                       Lead Software developer
                    </div>     
                </div>
                 <div class="information">
                   <div class="punchInDetails">
                     <div class="timeBlock">09:30</div>
                     <div class="textField">Punch In</div>
                   </div>
                   <div class="punchOutDetails">
                     <div class="timeBlock">18:30</div>
                     <div class="textField">Punch Out</div>
                   </div>
                 </div>
            </div>
        </script>

        <script id="employeePageTemplate" type="text/x-jquery-tmpl"> 
        <div class="menuBar">
              <div class="header">
                 <div class="textBox">Employee</div>
                 <div class="search">
                    <img src="../images/search.png" class="searchImg">
                    <input type="text" class="inputSearch">
                 </div>
              </div>
              
              <div class="menuBarOption">
                    <div class="optionContainer">
                       <div class="currentMonth">January</div>
                    </div>
                 <div class="btnMonth">Month</div>
                 <div class="employeeMemberContainer">
                <div class="employeeDetails">
                </div>
              </div>
              </div>
           </div>
          <div class="container">
              <div class="employeeInfoContainer">
                   <div class="employeeInfoPage"></div>
              </div>
          </div>
        </script>

         <script id="employeeLogTemplate" type="text/x-jquery-tmpl"> 
        <div class="menuBar">
              <div class="header">
                 <div class="textBox">Log</div>
                 <div class="search">
                    <img src="../images/search.png" class="searchImg">
                    <input type="text" class="inputSearch">
                 </div>
              </div>
              <div class="employeeMemberContainer">
                <div class="employeeDetails">
                </div>
              </div>
              <div class="menuBarOption">
                    <div class="optionContainer">
                       <div class="currentMonth">January</div>
                    </div>
                 <div class="btnMonth">Month</div>
              </div>
           </div>
           <div class="container">
               <div class="empLogContainer">
                  <div class="empLogPage"></div>
                </div>
           </div>
        </script>

      <script id="employeeTemplate"type="text/x-jquery-tmpl">
        <div class="employeeLog">
            <div class="header">
                <div class="text">{{html name}}</div>
                <div class="subText">
                    Founder & CEO
                </div>
                <div class="image" style="background-image:url({{html icon}})">
                    
                </div>
            </div>
            <div class="information">
                <div class="option">
                    <div class="data">21</div>
                    <div class="text">TASKS</div>
                </div>
                <div class="option">
                    <div class="data">12</div>
                    <div class="text">DAYS PRESENT</div>
                </div>
                <div class="option">
                    <div class="data">1</div>
                    <div class="text">LEAVE</div>
                </div>
            </div>
        </div>
    </script>

    <script id= "assignMembersBlockTemplate" type="text/x-jquery-tmpl">
        <div class="member">
          <div class="employeeImage" style="background-image:url({{html icon}})"></div>
          <div class="memberName">{{html name}}</div>
       </div>
    </script>

    <script id="empLogTemplate" type="text/x-jquery-tmpl">
        <div class="projectLog">
            <div class="header">
            <div class="image" style="background-image:url({{html icon}})">        
                </div>
                <div class="text">{{html name}}</div>
                <div class="subText">
                   Lead Developer
                </div>     
            </div>
            <div class="information">
                <div class="option project">
                    <div class="head">Projects</div>
                    <div class="value blue">31</div>
                    <div class="subOptions">
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Pulse website</div>
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Dashboard</div>
                    </div>
                </div>
                <div class="option task">
                    <div class="head">Tasks</div>
                    <div class="value skyBlue">5</div>
                     <div class="subOptions">
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Pulse website</div>
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Dashboard</div>
                    </div>
                </div>
                <div class="option completedProject">
                    <div class="head">Completed Projects</div>
                    <div class="value green">12</div>
                     <div class="subOptions">
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Pulse website</div>
                       <div class="subOption">Rollmaal website</div>
                       <div class="subOption">Dashboard</div>
                    </div>
                </div>
            </div>     
        </div>
    </script>

      <script src ="../scripts/jquery.js"></script>
      <script src ="../scripts/transit.js"></script>
      <script src="../scripts/bootstrap.min.js"></script>
      <script src="../scripts/highcharts.js"></script>
      <script src="../scripts/jquery.tmpl.min.js"></script>
      <script src="../scripts/jslinq.js"></script>
      <script src="../scripts/moment.min.js"></script>
      <script src="../scripts/superjson.js"></script>
      <script src="../scripts/tocca.min.js"></script>
      <script src="../js/base.js"></script>
      <script src="../js/index.js"></script>
      <script src="../js/timer.js"></script>
      <script src="../js/data.js"></script>
   </body>
</html>